<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464578468862-6dgc2qfvib8clpcnrk9pdp5571o2r2n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464578468862-6dgc2qfvib8clpcnrk9pdp5571o2r2n1</string>
	<key>API_KEY</key>
	<string>AIzaSyAzhFkc_JOdohrk1d1-YTkiSBinXlo7pn4</string>
	<key>GCM_SENDER_ID</key>
	<string>464578468862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PrefectureEvaluationApp</string>
	<key>PROJECT_ID</key>
	<string>prefectureevaluation</string>
	<key>STORAGE_BUCKET</key>
	<string>prefectureevaluation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464578468862:ios:fd99e0679c3443765d3eaf</string>
</dict>
</plist>